OPENAI_API_KEY=sk-...
DATABASE_URL=postgresql://user:password@host:5432/dbname
SMARTSHEET_PUBLISH_URL=https://app.smartsheet.com/b/publish?EQBCT=aed63fff52404b11b1885e5d04146d34
TABLEAU_INDEX_URL = "https://public.tableau.com/app/profile/com.buildings/vizzes"
